---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok: SbBlokData) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</main>
