---
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/ui/Container.astro";
import CameraLens from "~/components/ui/CameraLens.astro";
import Logo from "~/components/ui/Logo.astro";
import { Link } from "~/components/ui/link";
import { routes } from "~/config/routes";
---

<Layout seo={{ title: "404 Not Found" }}>
  <Logo href={routes.HOME} class="fixed left-1/2 top-8 z-50 -translate-x-1/2" />
  <CameraLens class="absolute bottom-0 left-0 right-0 top-0 z-40 p-8" />
  <Container
    as="section"
    class="relative flex min-h-screen items-center justify-center"
  >
    <div class="flex max-w-md flex-col items-center">
      <div class="flex flex-col items-center space-y-2">
        <span class="text-6xl uppercase">404</span>
        <h1 class="text-xs font-semibold uppercase">
          Oops... Nothing to see here
        </h1>
      </div>
      <Link className="mt-4" size="sm" variant="fill" href={routes.HOME}
        >Go Home</Link
      >
    </div>
  </Container>
</Layout>
