---
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout SEO={{ title: "Contact" }}>
  <Header />
  <section class="flex space-x-16 pl-[15vw]">
    <div class="w-full max-w-2xl pt-[12.5vw]">
      <h1 class="mb-16 text-7xl">About</h1>
      <p class="text-xl uppercase leading-10 text-neutral-700">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quo
        suscipit aliquid fuga ullam tempora. Facilis tempora obcaecati minima
        unde aliquid maiores ullam laboriosam error facere aperiam culpa velit
        sit, a, neque quos, pariatur alias sequi dignissimos non autem molestiae
        quidem iste nesciunt? Illum, ut similique vitae assumenda unde deserunt.
        Quisquam hic natus consequatur rem ut nemo sit nesciunt temporibus
        minima, similique sapiente libero laborum culpa dignissimos magni eos
        repellendus esse quibusdam. Iste debitis recusandae facere quo. Nesciunt
        libero officiis voluptate ullam beatae, illo magnam fugiat error nam
        explicabo voluptatem debitis qui fuga fugit? Facilis minima laborum
        laboriosam debitis alias?
      </p>
    </div>
    <div class="w-full">
      <img
        src="https://images.unsplash.com/photo-1552168324-d612d77725e3?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
        class="aspect-[9/12]"
      />
    </div>
  </section>
  <Footer />
</Layout>
