---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Layout from "~/layouts/Layout.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/about`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { aboutText, images } = data.story.content;
const aboutRichText = renderRichText(aboutText);

const [mainImage, ...restImages] = images;
---

<BaseLayout SEO={{ title: "Contact" }}>
  <Header />
  <section class="flex space-x-16 pl-[15vw]">
    <div class="w-full max-w-2xl pt-[12.5vw]">
      <h1 class="mb-16 text-7xl">About</h1>
      <div class="text-xl uppercase leading-10 text-neutral-700">
        <Fragment set:html={aboutRichText} />
      </div>
    </div>
    <div class="w-full">
      <img src={mainImage.filename} alt="" class="aspect-[9/12]" />
    </div>
  </section>
  <Footer />
</BaseLayout>
