---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import Image from "astro/components/Image.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { transformStoryblokImage } from "~/lib/utils";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/about`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { aboutText, images } = data.story.content;
const aboutRichText = renderRichText(aboutText);

const [mainImage, ...restImages] = images;
---

<BaseLayout seo={{ title: "About" }}>
  <section
    class="flex flex-col space-x-16 space-y-8 py-8 pl-8 lg:flex-row lg:space-y-0 lg:pl-[15vw]"
  >
    <div
      class="relative order-1 w-full max-w-2xl pt-[12.5vw] sm:max-w-sm lg:order-none xl:max-w-2xl"
    >
      <h1
        class="absolute -top-16 left-0 mb-8 text-4xl sm:text-5xl lg:static lg:mb-16 lg:text-7xl"
      >
        About
      </h1>
      <div
        class="text-base uppercase leading-6 text-neutral-700 lg:text-xl lg:leading-10"
      >
        <Fragment set:html={aboutRichText} />
      </div>
    </div>
    <div class="flex-1">
      <Image
        src={transformStoryblokImage(mainImage.filename, { width: 1400 })}
        alt={mainImage.alt}
        class="aspect-[9/12]"
        inferSize
      />
    </div>
  </section>
</BaseLayout>
