---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import Image from "astro/components/Image.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/about`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { aboutText, images } = data.story.content;
const aboutRichText = renderRichText(aboutText);

const [mainImage, ...restImages] = images;
---

<BaseLayout seo={{ title: "About" }}>
  <section class="flex space-x-16 pl-[15vw]">
    <div class="w-full max-w-2xl pt-[12.5vw]">
      <h1 class="mb-16 text-7xl">About</h1>
      <div class="text-xl uppercase leading-10 text-neutral-700">
        <Fragment set:html={aboutRichText} />
      </div>
    </div>
    <div class="w-full">
      <Image
        src={mainImage.filename}
        alt={mainImage.alt}
        class="aspect-[9/12]"
        inferSize
      />
    </div>
  </section>
</BaseLayout>
