---
import { useStoryblokApi } from "@storyblok/astro";
import Layout from "~/layouts/Layout.astro";
import { transformStoryblokImage } from "~/lib/utils";
import Header from "~/components/Header.astro";
import InfiniteScroller from "~/components/InfiniteScroller.astro";
import Cursor from "~/components/Cursor.astro";
import MouseMover from "~/components/MouseMover.astro";
import { Image } from "astro:assets";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/home`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { images, headingText } = data.story.content;
---

<Layout seo={{ title: undefined }}>
  <Header slot="header" />
  <Cursor />
  <h1
    class="fixed left-1/2 top-1/2 z-40 -translate-x-1/2 -translate-y-1/2 text-center text-8xl font-bold uppercase text-white opacity-0 mix-blend-difference"
  >
    {headingText}
  </h1>
  <MouseMover>
    <InfiniteScroller
      gap={128}
      data-scroller="true"
      class="fixed left-0 top-0 h-screen w-full py-16 opacity-0"
    >
      {
        images.map((image: any, index: number) => {
          const isLast = index === images.length - 1;
          const isCenter = index === Math.ceil(images.length / 2) - 1;
          const x =
            isLast || isCenter ? -Math.random() * 30 : Math.random() * 70;
          return (
            <Image
              src={transformStoryblokImage(image.filename, { width: 800 })}
              alt={image.alt}
              class="h-full w-full object-cover"
              style={{
                transform: `translate(${x}%, ${Math.random() * 30}%)`,
              }}
              inferSize
            />
          );
        })
      }
    </InfiniteScroller>
  </MouseMover>
</Layout>
<script>
  import gsap from "gsap";
  gsap.fromTo(
    "h1",
    {
      opacity: 0,
    },
    {
      opacity: 1,
    },
  );
  gsap.fromTo(
    "[data-scroller='true']",
    {
      opacity: 0,
    },
    {
      opacity: 1,
    },
  );
</script>
