---
import { routes } from "~/config/routes";
---

<footer class="container flex items-center justify-between">
  <div class="space-y-2">
    <h1 class="uppercase text-lg tracking-wides">Newsletter</h1>
    <div>
        <input type="text" />
        <button>Submit</button>
    </div>
  </div>

  <div class="flex space-x-4 text-sm">
    <a href={routes.socials.INSTAGRAM}>INSTAGRAM</a>
    <a href={routes.socials.PINTEREST}>PINTEREST</a>
    <a href={routes.socials.FACEBOOK}>FACEBOOK</a>
  </div>
</footer>
