---
import { Newsletter } from "./newsletter";
import Container from "~/components/ui/Container.astro";
import { Button } from "./ui/button";
import { TextInput } from "./ui/text-input";
import Socials from "./Socials.astro";
---

<Container
  as="footer"
  class="flex flex-col items-end justify-between space-y-12 pb-4 pt-12 sm:flex-row sm:space-y-0 sm:pb-12"
>
  <div class="w-full sm:max-w-sm">
    <h1 class="tracking-wides mb-2 text-sm uppercase">Newsletter</h1>
    <Newsletter client:visible>
      <TextInput type="text" placeholder="Enter your email" name="email" />
      <Button variant="outline" size="sm"> Subscribe </Button>
    </Newsletter>
  </div>

  <Socials class="justify-center sm:justify-end [&_path]:!stroke-[red]" />
</Container>
