---
import { routes } from "~/config/routes";
import { Newsletter } from "./newsletter";
import Container from "~/components/ui/Container.astro";
---

<Container
  as="footer"
  class="flex flex-wrap items-end justify-between gap-8 py-12 md:flex-row"
>
  <div>
    <h1 class="tracking-wides mb-2 text-sm uppercase">Newsletter</h1>
    <Newsletter client:load />
  </div>

  <div class="flex space-x-4 text-xs">
    <a href={routes.socials.INSTAGRAM}>INSTAGRAM</a>
    <a href={routes.socials.PINTEREST}>PINTEREST</a>
    <a href={routes.socials.FACEBOOK}>FACEBOOK</a>
  </div>
</Container>
