---
import type { HTMLAttributes } from "astro/types";
import Container from "~/components/ui/Container.astro";
import Logo from "~/components/ui/Logo.astro";
import { routes } from "~/config/routes";
import DoodleText from "./ui/DoodleText.astro";
import HeaderMobileMenu from "./HeaderMobileMenu.astro";
import HamburgerMenu from "./HamburgerMenu.astro";

export interface HeaderProps extends HTMLAttributes<"header"> {}

const { class: className, ...rest } = Astro.props;

const navLinks = [
  {
    href: routes.HOME,
    name: "Home",
  },
  {
    href: routes.work.DEFAULT,
    name: "Work",
  },
  {
    href: routes.ABOUT,
    name: "About",
  },
  {
    href: routes.CONTACT,
    name: "Contact",
  },
];

const logoHref = Astro.url.pathname === routes.HOME ? undefined : routes.HOME;
---

<HeaderMobileMenu id="header-menu" links={navLinks} />
<header
  class="sticky left-0 top-0 z-50 h-[--header-height] py-4 text-white mix-blend-difference"
  class:list={[className]}
  {...rest}
>
  <Container class="z-50 flex h-full items-center justify-between">
    <HamburgerMenu id="hamburger-btn" class="md:hidden" />
    <div class="flex justify-center md:justify-normal">
      <div>
        <Logo
          class="blend-mode-fix absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 md:static md:transform-none xl:text-base"
          href={logoHref}
        />
      </div>
    </div>
    <nav
      class="absolute left-1/2 hidden -translate-x-1/2 items-center justify-center md:flex"
    >
      <ul class="flex space-x-6 uppercase leading-none">
        {
          navLinks.map((link) => (
            <li>
              <DoodleText
                as="a"
                href={link.href}
                class="blend-mode-fix text-xs xl:text-sm"
              >
                {link.name}
              </DoodleText>
            </li>
          ))
        }
      </ul>
    </nav>
    <div></div>
  </Container>
</header>

<style>
  .blend-mode-fix {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<script>
  const hamburgerMenu =
    document.querySelector<HTMLButtonElement>("#hamburger-btn")!;
  const headerMenuElement =
    document.querySelector<HTMLButtonElement>("#header-menu")!;
  hamburgerMenu.onclick = () => {
    hamburgerMenu.setAttribute(
      "aria-expanded",
      hamburgerMenu.getAttribute("aria-expanded") === "true" ? "false" : "true",
    );
    headerMenuElement.classList.toggle("is-active");
    document.body.classList.toggle("no-scroll");
  };
</script>
