---
import type { HTMLAttributes } from "astro/types";
import { Menu } from "lucide-astro";
import Container from "~/components/ui/Container.astro";
import Logo from "~/components/ui/Logo.astro";
import { routes } from "~/config/routes";

export interface HeaderProps extends HTMLAttributes<"header"> {}

const { class: className, ...rest } = Astro.props;

const navLinks = [
  {
    href: routes.HOME,
    name: "Home",
  },
  {
    href: routes.work.DEFAULT,
    name: "Work",
  },
  {
    href: routes.ABOUT,
    name: "About",
  },
  {
    href: routes.CONTACT,
    name: "Contact",
  },
];

const logoHref = Astro.url.pathname === routes.HOME ? undefined : routes.HOME;
---

<!-- TODO add mobile menu -->
<header
  class="sticky left-0 top-0 z-50 h-[--header-height] py-4 text-white mix-blend-difference"
  class:list={[className]}
  {...rest}
>
  <Container class="flex h-full items-center justify-between">
    <button
      class="p-2 md:hidden"
      aria-label="menu"
      id="hamburger-btn"
      aria-expanded="false"
    >
      <Menu size={20} stroke-width={1} />
    </button>
    <div class="flex justify-center md:justify-normal">
      <div>
        <Logo class="blend-mode-fix xl:text-base" href={logoHref} />
      </div>
    </div>
    <nav
      class="absolute left-1/2 hidden -translate-x-1/2 items-center justify-center md:flex"
    >
      <ul class="flex space-x-6 uppercase leading-none">
        {
          navLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class="text blend-mode-fix text-xs xl:text-sm"
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div></div>
  </Container>
</header>
<style>
  .blend-mode-fix {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
