---
import type { HTMLAttributes } from "astro/types";
import Carousel from "./ui/Carousel.astro";
import { routes } from "~/config/routes";
import { Image } from "astro:assets";
import { transformStoryblokImage } from "~/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  works: { slug: string; image: { url: string; alt: string }; name: string }[];
}
const { works, class: className, ...rest } = Astro.props;
---

<div class="flex h-full w-full items-center" class:list={[className]} {...rest}>
  <Carousel class="w-full">
    {
      works.map((work) => (
        <a href={routes.work.slug(work.slug)} aria-label={`${work.name}`}>
          <Image
            class="aspect-[9/12] select-none object-cover"
            src={transformStoryblokImage(work.image.url, {
              width: 600,
              quality: 60,
            })}
            alt={work.image.alt}
            inferSize
          />
        </a>
      ))
    }
  </Carousel>
</div>
