---
import type { HTMLAttributes } from "astro/types";
import Swiper from "./ui/Swiper.astro";
import { routes } from "~/config/routes";
import { Image } from "astro:assets";

interface Props extends HTMLAttributes<"div"> {
  works: { slug: string; image: { url: string; alt: string } }[];
}
const { works, class: className, ...rest } = Astro.props;
---

<div class="flex h-full w-full items-center" class:list={[className]} {...rest}>
  <Swiper class="w-full">
    {
      works.map((work) => (
        <a href={routes.work.slug(work.slug)}>
          <Image
            class="aspect-[9/12] object-cover"
            src={work.image.url}
            alt={work.image.alt}
            inferSize
          />
        </a>
      ))
    }
  </Swiper>
</div>
