---
import Container from "~/components/Container.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import Layout from "~/layouts/Layout.astro";

import { useStoryblokApi, type SbBlokData } from "@storyblok/astro";
import { Image } from "astro:assets";

const storyblokApi = useStoryblokApi();

const { workSlug } = Astro.params;

const { data } = await storyblokApi.get(`cdn/stories/work/${workSlug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const images = data.story.content.body;
---

<Layout>
  <Header />
  <Container as="section">
    <ul class="grid h-full min-h-screen grid-cols-[repeat(10,1fr)] gap-4">
      {
        images.map((image, i) => {
          const gridCol = {
            1: "1 / 7",
            2: "8 / 11",
            3: "7 / 10",
            4: "2 / 7",
            5: "7 / 9",
          };

          const index = (i % 5) + 1;

          return (
            <li
              class="bg-green-200"
              style={{
                gridColumn: gridCol[index],
                gridRow: "span 10 / span 4",
              }}
            >
              <Image
                src={image.image.filename}
                class="h-full w-full object-cover"
                alt=""
                inferSize
              />
            </li>
          );
        })
      }
    </ul>
  </Container>
  <Footer />
</Layout>
