---
import Container from "~/components/ui/Container.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import Layout from "~/layouts/Layout.astro";

import { useStoryblokApi } from "@storyblok/astro";
import { Image } from "astro:assets";
import WorkImagesGrid from "~/components/WorkImagesGrid.astro";

const storyblokApi = useStoryblokApi();

const { workSlug } = Astro.params;

const { data } = await storyblokApi.get(`cdn/stories/work/${workSlug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const images = data.story.content.body;
---

<Layout SEO={{ title: data.story.content.workName }}>
  <Header />
  <Container as="section" class="flex space-x-16 py-8">
    <WorkImagesGrid>
      {
        // TODO fix grid when more than 5 elements
        images.slice(0, 5).map((image, index) => (
          <div class="flex h-full w-full flex-col space-y-1">
            <Image
              src={image.image.filename}
              class="h-full w-full object-cover"
              alt=""
              inferSize
            />
            <p class="text-[0.625rem] font-semibold uppercase text-neutral-700">
              /{String(index + 1).padStart(2, "0")}
            </p>
          </div>
        ))
      }
    </WorkImagesGrid>
    <aside
      class="sticky right-0 top-0 w-full max-w-[200px] space-y-4 text-xs uppercase"
    >
      <h1 class="font-semibold">Lorem Ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt non
        facilis atque sequi similique. Debitis cupiditate culpa aperiam, amet
        enim minus corporis laborum consequatur asperiores accusantium
        perferendis rerum reprehenderit, voluptatem nihil, aspernatur vel
        temporibus est recusandae repudiandae? Facilis voluptatem laborum
      </p>
    </aside>
  </Container>
  <Footer />
</Layout>
