---
import Container from "~/components/ui/Container.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import Layout from "~/layouts/Layout.astro";

import { useStoryblokApi } from "@storyblok/astro";
import { Image } from "astro:assets";
import WorkImagesGrid from "~/components/WorkImagesGrid.astro";

const storyblokApi = useStoryblokApi();

const { workSlug } = Astro.params;

const { data } = await storyblokApi.get(`cdn/stories/work/${workSlug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const images = data.story.content.body;
---

<Layout SEO={{ title: data.story.content.workName }}>
  <Header />
  <Container as="section">
    <WorkImagesGrid>
      {
        images.slice(0, 5).map((image, index) => (
          <div class="flex h-full w-full flex-col space-y-1">
            <Image
              src={image.image.filename}
              class="h-full w-full object-cover"
              alt=""
              inferSize
            />
            <p class="text-[0.625rem] font-semibold uppercase text-neutral-700">
              /{String(index + 1).padStart(2, "0")}
            </p>
          </div>
        ))
      }
    </WorkImagesGrid>
  </Container>
  <Footer />
</Layout>
