---
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import { Image } from "astro:assets";
import Grid from "~/components/Grid.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const storyblokApi = useStoryblokApi();

const { workSlug } = Astro.params;

const { data } = await storyblokApi.get(`cdn/stories/work/${workSlug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { workName, images, info } = data.story.content;
const renderedRichText = renderRichText(info);
---

<BaseLayout seo={{ title: workName }}>
  <section class="flex space-x-16 py-8">
    <Grid>
      {
        images.map((image: any, index: number) => (
          <div class="flex h-full w-full flex-col space-y-1">
            <Image
              src={image.filename}
              class="h-full w-full object-cover"
              alt=""
              inferSize
            />
            <p class="text-[0.625rem] font-semibold uppercase text-neutral-700">
              /{String(index + 1).padStart(2, "0")}
            </p>
          </div>
        ))
      }
    </Grid>
    <aside
      class="sticky right-0 top-[--header-height] h-96 w-full max-w-[200px] space-y-4 text-xs uppercase"
    >
      <Fragment set:html={renderedRichText} />
    </aside>
  </section>
</BaseLayout>
