---
import Header from "~/components/Header.astro";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/ui/Container.astro";

import { useStoryblokApi } from "@storyblok/astro";
import WorkSwiper from "~/components/WorkSwiper.astro";
import CameraLens from "~/components/ui/CameraLens.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/", {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: "work/",
});

const works = data.stories.map((story) => ({
  slug: story.slug,
  imageUrl: story.content.thumbnail.filename,
  label: story.content.workName,
}));
---

<Layout SEO={{ title: "Work" }}>
  <Header />

  <main>
    <Container
      as="section"
      class="relative flex h-[calc(100vh-(var(--header-height)*2))] items-center"
    >
      <CameraLens class="absolute bottom-0 left-0 right-0 top-0 px-8" />
      <WorkSwiper works={works} />
    </Container>
  </main>
</Layout>
