---
import WorkLayout from "~/layouts/WorkLayout.astro";

import { useStoryblokApi } from "@storyblok/astro";
import WorkSwiper from "~/components/WorkSwiper.astro";
import CameraLens from "~/components/ui/CameraLens.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/", {
  version: import.meta.env.DEV ? "draft" : "published",
  starts_with: "work/",
});

const works = data.stories.map((story: any) => ({
  slug: story.slug,
  imageUrl: story.content.thumbnail.filename,
  label: story.content.workName,
}));
---

<WorkLayout SEO={{ title: "Work" }}>
  <CameraLens class="absolute bottom-0 left-0 right-0 top-0 p-8 py-16" />
  <section
    class="relative flex h-[calc(100vh-(var(--header-height)*2))] items-center"
  >
    <WorkSwiper works={works} />
  </section>
</WorkLayout>
