---
import WorkLayout from "~/layouts/WorkLayout.astro";
import WorkSwiper from "~/components/WorkSwiper.astro";
import CameraLens from "~/components/ui/CameraLens.astro";
import { getWorkItems } from "~/lib/api/storyblok";

const { data } = await getWorkItems();

const worksData = data.map(({ slug, thumbnail, workName }) => ({
  slug,
  image: {
    url: thumbnail.filename,
    alt: thumbnail.alt,
  },
  name: workName,
}));
---

<WorkLayout seo={{ title: "Work" }}>
  <CameraLens class="absolute inset-0 z-40 p-8 py-16 pb-4 md:pb-16" />
  <section
    class="relative flex h-[calc(100vh-(var(--header-height)*2))] items-center"
  >
    <WorkSwiper works={worksData} />
  </section>
</WorkLayout>
