---
import "../styles/base.css";
import "../styles/lenis.css";
import "@fontsource/montserrat";
import "@fontsource/montserrat/200.css";
import SEOHead, { type SEOProps } from "~/components/SEOHead.astro";

interface Props {
  seo?: SEOProps;
  class?: string;
}

const { seo, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOHead seo={seo} />
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KV43WJ10XR"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-KV43WJ10XR");
    </script>
  </head>
  <body class={className}>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
