---
import "../styles/base.css";
import "../styles/lenis.css";
import "@fontsource/montserrat";
import "@fontsource/montserrat/200.css";
import "@fontsource/cormorant-garamond";
import SEOHead, { type SEOProps } from "~/components/SEOHead.astro";
import LocomotiveScroll from "~/components/LocomotiveScroll.astro";

interface Props {
  SEO?: SEOProps;
}

const { SEO } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOHead SEO={SEO} />
  </head>
  <body>
    <LocomotiveScroll>
      <slot name="header" />
      <main>
        <slot />
      </main>
      <slot name="footer" />
    </LocomotiveScroll>
  </body>
</html>
