---
import "../styles/base.css";
import "../styles/lenis.css";
import "@fontsource/montserrat";
import "@fontsource/montserrat/200.css";
import "@fontsource/cormorant-garamond";
import SEOHead, { type SEOProps } from "~/components/SEOHead.astro";

interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOHead seo={seo} />
  </head>
  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
