---
import "../base.css";
import "@fontsource/montserrat";
import "@fontsource/montserrat/200.css";
import "@fontsource/cormorant-garamond";
import SEOHead, { type SEOProps } from "~/components/SEOHead.astro";

interface Props {
  SEO?: SEOProps;
}

const { SEO } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOHead SEO={SEO} />
  </head>
  <body>
    <slot />
  </body>
</html>
