---
import "../styles/base.css";
import "../styles/lenis.css";
import "@fontsource/montserrat";
import "@fontsource/montserrat/200.css";
import SEOHead, { type SEOProps } from "~/components/SEOHead.astro";
import { GoogleAnalytics } from "@astrolib/analytics";

interface Props {
  seo?: SEOProps;
  class?: string;
}

const { seo, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOHead seo={seo} />
    <GoogleAnalytics id="G-KV43WJ10XR" partytown />
  </head>
  <body class={className}>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
