---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h1"> {
  href?: string;
}

const { href, class: className, ...rest } = Astro.props;

const defaultProps: Props = {
  class: "uppercase text-sm font-medium tracking-widest select-none",
  "class:list": [className],
  ...(href && { href }),
  ...rest,
};

const Tag = href === undefined ? "h1" : "a";
---

{/* @ts-ignore */}
<Tag {...defaultProps}> VISION<span class="font-light">STUDIO</span></Tag>
