---
import type { Polymorphic } from "astro/types";

type Props<Tag extends "svg" | "h1"> = Polymorphic<{ as: Tag }> & {
  href?: string;
};

const { href, class: className, ...rest } = Astro.props;

const Tag = href === undefined ? "h1" : "a";
---

<Tag
  class="select-none text-sm font-medium uppercase tracking-widest"
  class:list={[className]}
  {...href && { href }}
  {...rest}
>
  VISION<span class="font-light">STUDIO</span></Tag
>
